body {
  height: 100%;
  overflow: hidden;
  background: rgb(215, 215, 215);
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    500,
    from(rgb(240, 240, 240)),
    to(rgb(190, 190, 190))
  );
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}
