.inputBox {
  height: 1.5em;
  width: 50px;
  border-radius: 3px;
  border: 1px solid #d9d9dd;
  cursor: pointer;
  white-space: nowrap;
  overflow: auto;
}

.slider {
  height: 4px;
  border-radius: 2px;
  background-color: #f5f5f5;
  position: absolute;
  left: 0px;
  top: 0px;
}

.dot {
  width: 14px;
  height: 14px;
  border: solid 2px #91d5ff;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  cursor: pointer;
}

.sliderContainer {
  background: red;
  position: relative;
}

.list {
  list-style: none;
  margin: 0;
}

.item {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 0.25em;
}

.item:hover {
  border-bottom: 1px solid #4091f7;
}

.error {
  font-size: 12px;
  color: red;
}
