.line {
  height: 0.5em;
  border-radius: 2px;
}

.middle {
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.right {
  margin-left: 8px;
  cursor: pointer;
  font-size: 12px;
}
.bottom {
  display: flex;
  justify-content: center;
}

.leftItem {
  flex-basis: 15px;
  width: 15px;
  margin: 0.2em;
  height: 2em;
}

.bottomButton{
  display: flex;
  justify-content: center;
  font-size: 12px;
}
