.container {
  margin-bottom: 0.5em;
}

.nodeTitle {
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.image {
  max-height: 2em;
}

.icon {
  margin-right: 8px;
}
