.container {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
}

.left {
  width: 300px;
}

.right {
  width: 300px;
}

.main {
  overflow: auto;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
}
