.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #25292e;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.intro {
  color: white;
  margin-left: 1em;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  font-family: "Luckiest Guy", cursive;
}

.left {
  display: flex;
}

.btns {
  display: flex;
  align-items: center;
  color: #fff;
}

.selectWrapper {
  position: relative;
  color: #fff;
}
.select {
  position: absolute;
  list-style: none;
  width: 5.5em;
  top: 56px;
  left: 0;
  z-index: 10;
}

.selectItem {
  color: #fff;
  background: #25292e;
}
.header {
  display: flex;
}

.container {
  background: #25292e;
  padding: 0 20px;
}

.item {
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.icon {
  margin-right: 5px;
}

.title {
  color: white;
  padding: 0.5em 0;
}

.title:hover {
  border-bottom: 1px solid #fff;
}
