.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #25292e;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.btns {
  display: flex;
  align-items: center;
  color: #fff;
}

.header {
  display: flex;
}

.container {
  background: #25292e;
  padding: 0 20px;
}

.item {
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.icon {
  margin-right: 5px;
}

.title {
  color: white;
  padding: 0.5em 0;
}

.title:hover {
  border-bottom: 1px solid #fff;
}
