.container {
  background: #efefef;
}
.item {
  display: flex;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.icon {
  margin-right: 8px;
  cursor: move;
}

.list {
  list-style: none;
}
.title{
  margin-left: 8px;
}
.line {
  display: flex;
  align-items: center;
  padding: 0.2em 0;
  cursor: pointer;
  border: 1px solid transparent;
}

.line:hover {
  border-bottom: 1px solid #4091f7;
}

.leftBtn {
  margin-right: 8px;
}
