.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5em;
}

.wrapper {
  margin: 0.5em 0;
}

.box {
  position: relative;
}

.pageNumber {
  position: absolute;
  display: block;
  left: -2em;
  top: 50%;
  transform: translate(0, -50%);
}
