.container {
  overflow: auto;
}

.nodeAddInput {
  margin: 0.5em 1em;
}

.inputBtn {
  margin-left: 0.5em;
}

.tree {
  margin-left: 1em;
}

.nodeTitle {
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.dragIcon {
  margin-right: 8px;
  cursor: move;
}

.main{
  display: flex;
  justify-content: center;
}
