.container {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}
.box {
  padding: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  background: white;
  height: 45px;
  line-height: 45px;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

.title {
  margin-left: 8px;
  font-weight: bold;
}

.wrapper {
  padding: 0em 1em;
}

.content {
  overflow: auto;
  margin: 0.5em 1em 0 1em;
}
