.container {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  transition: height 0.5s;
}

.box {
  padding: 5px;
  transition: height 0.5s;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 45px;
  line-height: 45px;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

.title {
  margin-right: 2px;
  font-weight: bold;
}

.wrapper {
  padding: 0em 1em;
  background: #fff;
}

.content {
  overflow: auto;
  margin: 0.5em 1em 0 1em;
  position: relative;
  scroll-behavior: smooth;
  background: #fff;
  transition: height 0.5s;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
}
.leftIcon {
  cursor: pointer;
  margin: 0 5px 0 5px;
}
.rightBtn {
  margin-left: 8px;
}
