.container___2kilr{overflow:hidden}
.impress___2ocfV{position:absolute;left:50%;top:50%;transform-origin:left top;transition-duration:1s;transform-style:preserve-3d;perspective:1000px}.canvas___3ZS1c{position:absolute;transform-origin:left top;transition-duration:1s;transform-style:preserve-3d}
