.container {
  display: block;
  width: 900px;
  height: 700px;
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
