.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.bar {
  position: absolute;
  right: 0;
  bottom: -50px;
}

.btnLeft{
  margin-right: 10px;
}
