.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.5s;
}

.slide {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  position: relative;
}

.list {
  list-style: none;
}

.item {
  cursor: pointer;
  padding: 0.5em;
  border-bottom: 1px solid transparent;
}

.item:hover {
  border-bottom: 1px solid #4091f7;
}

.icon {
  margin-right: 8px;
}

.bottom {
  display: flex;
  align-items: center;
  height: 100%;
}

.btnGroup {
  position: absolute;
  bottom: -30px;
  right: 0;
  display: flex;
}

.rightBtn{
  margin-left: 8px;
}
